@font-face {
	font-family: 'League';
	src: url('@assets/fonts/LeagueSpartan.ttf') format('truetype');
}

:root {
	--color-background: #181818;
	--color-primary: #f5f5f5;
	--color-primary-muted: #f5f5f560;

	--text-xs: clamp(0.75rem, 1.5vw, 0.875rem);
	--text-sm: clamp(0.875rem, 2vw, 1rem);
	--text-base: clamp(1rem, 2.5vw, 1.125rem);
	--text-lg: clamp(1.125rem, 3vw, 1.25rem);
	--text-xl: clamp(1.25rem, 4vw, 1.5rem);
	--text-2xl: clamp(1.5rem, 5vw, 1.875rem);
	--text-3xl: clamp(1.875rem, 6vw, 2.25rem);
	--text-4xl: clamp(2.25rem, 7vw, 3rem);

	--font-thin: 100;
	--font-extralight: 200;
	--font-light: 300;
	--font-normal: 400;
	--font-medium: 500;
	--font-semibold: 600;
	--font-bold: 700;
	--font-extrabold: 800;
	--font-black: 900;

	--font-league: 'League';

	--leading-none: 1;
	--leading-tight: 1.25;
	--leading-snug: 1.375;
	--leading-normal: 1.5;
	--leading-relaxed: 1.625;
	--leading-loose: 2;
	--leading-3: 0.75rem;
	--leading-4: 1rem;
	--leading-5: 1.25rem;
	--leading-6: 1.5rem;
	--leading-7: 1.75rem;
	--leading-8: 2rem;
	--leading-9: 2.25rem;
	--leading-10: 2.5rem;

	color: var(--color-primary);
	background: var(--color-background);
}

.container {
	width: min(100% - 2rem, 1400px);
	margin-inline: auto;
	padding: clamp(1rem, 5vw, 4rem);
	font-family: var(--font-league);

	h1 {
		margin-top: 1.5rem;
		font-size: var(--text-3xl);
		font-weight: var(--font-semibold);
		line-height: var(--leading-none);
		text-align: center;
	}

	section {
		display: flex;
		flex-direction: column;
		height: 100dvh;
		gap: 2rem;
	}
}

.header {
	width: min(100% - 2rem, 1400px);
	margin-inline: auto;
	padding: clamp(1rem, 1vw, 4rem);
	font-family: var(--font-league);

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 1.5rem;
	border-bottom: var(--color-primary-muted) 1px solid;

	h2 {
		font-size: var(--text-3xl);
		font-weight: var(--font-semibold);
		line-height: var(--leading-tight);
	}

	h3 {
		font-size: var(--text-sm);
		text-transform: uppercase;
		font-weight: var(--font-semibold);
		line-height: var(--leading-tight);
	}
}

.header--date {
	display: flex;
	flex-direction: column;
}

.header--profile {
	cursor: pointer;
}

.settings {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100dvh;
	z-index: 99;
	background: var(--color-background);

	transform: translateY(100%);
	transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	overflow-y: auto;

	&.active {
		transform: translateY(0);
	}
}

.settings--container {
	width: min(100% - 2rem, 1400px);
	margin-inline: auto;
	padding: clamp(1.5rem, 1vw, 4rem);
	font-family: var(--font-league);

	h2 {
		font-size: var(--text-3xl);
		font-weight: var(--font-semibold);
		line-height: var(--leading-tight);
	}

	h3 {
		font-size: var(--text-xl);
		font-weight: var(--font-semibold);
		line-height: var(--leading-tight);
		margin: 2rem 0 1rem 0;
	}
}

.settings--header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1.5rem;

	span {
		cursor: pointer;
	}
}

.settings--close {
	cursor: pointer;
}

.settings--content {
	display: flex;
	flex-direction: column;
	padding: 0;
}

.settings--content--item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	cursor: pointer;
	border-top: var(--color-primary-muted) 1px solid;
	padding: 1rem 0.25rem;
	font-weight: var(--font-semibold);

	&:last-child {
		border-bottom: var(--color-primary-muted) 1px solid;
	}

	p {
		display: flex;
		flex-direction: row;
		gap: 1rem;

		span {
			transform: translateY(0.125rem);
		}
	}
}

.progress-bar--container {
	position: relative;
}

.progress-bar--check-in {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(calc(-50% + 0.25rem), calc(-50% + 0.25rem));

	h4 {
		transform: translateX(-0.25rem);
	}
}
