@import 'tailwindcss';

@font-face {
	font-family: 'League';
	src: url('@assets/fonts/LeagueSpartan.ttf') format('truetype');
}

:root {
	--text-xs: clamp(0.75rem, 1.5vw, 0.875rem);
	--text-sm: clamp(0.875rem, 2vw, 1rem);
	--text-base: clamp(1rem, 2.5vw, 1.125rem);
	--text-lg: clamp(1.125rem, 3vw, 1.25rem);
	--text-xl: clamp(1.25rem, 4vw, 1.5rem);
	--text-2xl: clamp(1.5rem, 5vw, 1.875rem);
	--text-3xl: clamp(1.875rem, 6vw, 2.25rem);

	--font-thin: 100;
	--font-extralight: 200;
	--font-light: 300;
	--font-normal: 400;
	--font-medium: 500;
	--font-semibold: 600;
	--font-bold: 700;
	--font-extrabold: 800;
	--font-black: 900;

	--font-league: 'League';

	--leading-none: 1;
	--leading-tight: 1.25;
	--leading-snug: 1.375;
	--leading-normal: 1.5;
	--leading-relaxed: 1.625;
	--leading-loose: 2;
	--leading-3: 0.75rem;
	--leading-4: 1rem;
	--leading-5: 1.25rem;
	--leading-6: 1.5rem;
	--leading-7: 1.75rem;
	--leading-8: 2rem;
	--leading-9: 2.25rem;
	--leading-10: 2.5rem;
}

.container {
	width: min(100% - 2rem, 1400px);
	margin-inline: auto;
	padding: clamp(1rem, 5vw, 4rem);
	font-family: var(--font-league);
}

.header {
	width: min(100% - 2rem, 1400px);
	margin-inline: auto;
	padding: clamp(1rem, 1vw, 4rem);
	font-family: var(--font-league);

	display: flex;
	justify-content: space-between;
	align-items: center;

	h2 {
		font-size: var(--text-3xl);
		font-weight: var(--font-semibold);
		line-height: var(--leading-tight);
	}

	h3 {
		font-size: var(--text-sm);
		text-transform: uppercase;
		font-weight: var(--font-semibold);
		line-height: var(--leading-tight);
	}
}

.header--date {
	display: flex;
	flex-direction: column;
}

.header--profile {
	width: 1.25rem;
	height: 1.25rem;
	cursor: pointer;
}

.header--spacer {
	width: min(100% - 2rem, 1400px);
	margin-inline: auto;
	overflow: hidden;
	height: 1.25rem;
	&:after {
		content: '';
		display: block;
		margin: -1.625rem auto 0;
		width: 100%;
		height: 1.625rem;
		border-radius: 7.8125rem / 0.75rem;
		box-shadow: 0 0 8px #181818;
	}
}

.mobile--profile {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100dvh;
	z-index: 99;
	background: rgba(200, 0, 0, 0.9);

	transform: translateY(100%);
	transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	overflow-y: auto;

	&.active {
		transform: translateY(0);
	}
}

.mobile--profile--container {
	width: min(100% - 2rem, 1400px);
	margin-inline: auto;
	padding: clamp(1.5rem, 1vw, 4rem);
	font-family: var(--font-league);

	h2 {
		font-size: var(--text-3xl);
		font-weight: var(--font-semibold);
		line-height: var(--leading-tight);
	}
}

.mobile--profile--header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	span {
		cursor: pointer;
	}
}
