*,
*::before,
*::after {
	box-sizing: border-box;
}

*:not(dialog) {
	margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

button,
input[type='button'],
input[type='submit'],
input[type='reset'] {
	background: none; /* Remove background */
	border: none; /* Remove border */
	padding: 0; /* Remove padding */
	margin: 0; /* Remove margin */
	font: inherit; /* Inherit font styles */
	color: inherit; /* Inherit text color */
	cursor: pointer; /* Change cursor to pointer */
	outline: none; /* Remove outline */
}

#root,
#__next {
	isolation: isolate;
}
